[common]
work_path = /tmp
mstdn_path= /mastodon/
token = xxxxxxxx
domain = mstdn.example.com
visibility = unlisted

[mstdn_media]
target_image1 = /accounts/
target_image2 = /custom_emojis/
target_image3 = /media_attachments/
target_image4 = /site_uploads/

[postgreSQL_info]
postgresql_container = mastodon-db-1
db_user = mastodon
db_name = mastodon_production
